.route_card {text-align: center;margin: 20px auto;padding: 10px;
border-style: solid 1px #9294a3;background-color:#c0c2d3;width:50%;;}
.route_card_top{text-align: start;font-size: large;}
.route_card_content{text-align: start;font-size: large;}
.route_card_content img{width: 100%;position: relative;top: 5px;}