.route_card {text-align: center;margin: 20px auto;padding: 10px;border:black;
    background-color:white;width:50%;;}
.route_card_top{text-align: start;font-size: large;}
.route_card_content{text-align: start;font-size: large;}